    H1 {
        font-size: 200%;
        font-family: verdana, arial, sans-serif;
        color: #000080;
        text-align: center;
        }
        p {
        padding-left: 20px;
        }