table {
border-collapse: collapse;
width: 70%;
}
td, th {
font-family: 'Lucida Sans Unicode';
color: #669;
padding: 8px;
border-bottom: 2px solid #0be052;
}
table tr:first-child td {
color: #fff;
border-bottom: 2px solid #6678b1;
background-color: #2a58ea;
}
tr:nth-child(odd) {
background-color: #b9c6f7;
}
tr:nth-child(even) {
background-color: #e8edff;
}
body {
display: flex;
justify-content: center;
align-items: center;
}