table {
border-collapse: collapse;
border: 4px double black;
width: 500px;
height: 150px;
}
td, tr {
border: 1px solid black;
padding 8px;
}
table tr:first-child {
background-color: LightGrey;
font-weight: bold;
}
body {
display: flex;
justify-content: center;
align-items: center;
}