table {
border-collapse: collapse;
border-bottom: 2px solid maroon;
width: 400px;
height: 100px;
background-color: #FDEAA8;
}
td, tr {
padding 8px;
}
table tr:first-child td {
background-color: maroon;
font-weight: bold;
color: white;
}
body {
display: flex;
justify-content: center;
align-items: center;
}